* {
  font-size: 14.8px;
  font-family: 'Inter';
}

window {
  background-color: transparent;
  .button-padding {
    background-color: transparent;
  }
}

.scrim {
  background-color: rgba(0, 0, 0, .01);
}

tooltip {
  * {
    all: unset;
  }

  background-color: transparent;
  border: none;
}
